<header></header>
<div class="container">
  <!-- Admin -->
   <div class="card" (click)="handleButtonClick(1)">
    <img src="../../../assets/images/admin_logo.jpg" class="card-img-top" alt="..." height="90%">
    <p>Enter to Admin dashboard</p>
  </div>

  <!-- Staff -->
  <div class="card" (click)="handleButtonClick(2)">
    <img src="../../../assets/images/staff_logo.png" class="card-img-top" alt="..." height="90%">
    <p>Enter to Staff dashboard</p>
  </div>

  <!-- Customer -->
  <div class="card" (click)="handleButtonClick(3)">
    <img src="../../../assets/images/customer_logo.png" class="card-img-top" alt="..." height="90%">
    <p>Enter to Customer dashboard</p>
  </div>
</div>
