<section style="background-color: #659DBD">
    <div class="container py-2">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-3">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a routerLink="/staff">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Bug</li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="../../../../assets/images/bugLogo.png" alt="avatar" class="img-fluid" style="width: 50px;">
              <h5 class="my-1">{{BugDetails.bug_title}}</h5>
              <p class="text-muted mb-2">{{BugDetails.bug_desc}}</p>
              <p class="text-muted mb-2"><b>priority : </b>{{BugDetails.bug_priority}}</p>
              <p class="text-muted mb-2"><b>Status : </b>{{BugDetails.bug_status}}
                <button class="btn btn-sm btn-dark" (click)="showModal=true"><i class="bi bi-pencil-square"></i> </button>
              </p>
              <p class="text-muted mb-4"><b>Progress : </b>{{BugDetails.globalStatus}}</p>
              <!-- <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary">Follow</button>
                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
              </div> -->
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3"><b>Other Bugs</b></li>
                <!-- <ng-container *ngIf="customerProjects.length != 0 else elseBlock">
                <li *ngFor="let customerProject of customerProjects" class="list-group-item d-flex justify-content-between align-items-center p-2">
                  <a  [routerLink]="['../',customerProject.projectId]">
                    <p class="mb-0">{{customerProject.projectName}}</p>
                  </a>
                </li>
                </ng-container>
                <ng-template #elseBlock>
                  No Projects Available
                </ng-template> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card" style="border: none;">
            <section class="chat" style="background-color: #659DBD; ">
              <div class=" container my-2 py-2 text-dark">
                <div class="row d-flex justify-content-center">
                  <div class="col-md-11 col-lg-9 col-xl-12">
                    <ng-container *ngIf="BugDetails.comments.length != 0; else elseBox">
                      <ng-container *ngFor="let thread of BugDetails.comments">
                        <app-chat-box [thread]="thread"></app-chat-box>
                      </ng-container>
                    </ng-container>
                    <ng-template #elseBox>
                      <div class="text-center"><b>
                          <h5>Describe about Bug</h5>
                        </b></div>
  
                    </ng-template>
  
                    <app-comment-box (passComment)="getComment($event)"></app-comment-box>
                  </div>
                </div>
              </div>
            </section>
  
  
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
  
  <!-- Change Bug Status Modal -->
  <div class="container">
    <div class="modal-content">
      <div class="modal" [ngClass]="{ 'show': showModal }" tabindex="-1" role="dialog" style="display: block;"
        *ngIf="showModal">
        <div class="modal-dialog" role="document">
          <form class="mt-1" [formGroup]="changeBugStatus" (ngSubmit)="changeBugStatusMethod()">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">change Status</h5>
                <button type="button" class="close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-row">
                  <div class="form-group">
                    <label for="bugStatus">Status</label>
                    <select class="form-control" id="bugStatus" formControlName="bugStatus" [class.is-invalid]="
                    changeBugStatus.get('bugStatus')?.invalid &&
                    changeBugStatus.get('bugStatus')?.touched
                          ">
                      <option value="" disabled selected>Select Status</option>
                      <option value="Not Resolved">Not Resolved</option>
                      <option value="Resolved">Resolved</option>
                    </select>
                    <div *ngIf="changeBugStatus.get('bugStatus')?.hasError('required')" class="invalid-feedback">
                      Please select Bug Status.
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                <button type="submit" class="btn btn-primary">Change</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->