<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Complete your profile</h4>
        </div>
        <div class="card-body">
          <form class="mt-1" [formGroup]="customerProfile" (ngSubmit)="register()">
            <div class="form-row">

              <div class="form-group">
                <label for="customerName">Name</label>
                <input type="text" class="form-control" id="customerName" placeholder="Enter Name here"
                  formControlName="customerName" [class.is-invalid]="
                    customerProfile.get('customerName')?.invalid &&
                    customerProfile.get('customerName')?.touched
                  " />
                <div *ngIf="
                    customerProfile.get('customerName')?.hasError('required')
                  " class="invalid-feedback" class="invalid-feedback">
                  Please enter your name.
                </div>

                <label for="customerCompany">Company name</label>
                <input type="text" class="form-control" id="customerCompany" placeholder="Enter company name"
                  formControlName="customerCompany" [class.is-invalid]="
                    customerProfile.get('customerCompany')?.invalid &&
                    customerProfile.get('customerCompany')?.touched
                  " />
                <div *ngIf="
                    customerProfile.get('customerCompany')?.hasError('required')
                  " class="invalid-feedback" class="invalid-feedback">
                  Please company name.
                </div>
              </div>

              <div class="form-group">
                <label for="customerPhone">Customer Phone</label>
                <input type="text" class="form-control" id="customerPhone" placeholder="Enter phone number"
                  formControlName="customerPhone" [class.is-invalid]="
                    customerProfile.get('customerPhone')?.invalid &&
                    customerProfile.get('customerPhone')?.touched
                  " />
                <div *ngIf="
                    customerProfile.get('customerPhone')?.hasError('required')
                  " class="invalid-feedback" class="invalid-feedback">
                  Please enter phone number.
                </div>
              </div>
            </div>

            <div class="text-center mt-2">
              <button type="submit" class="btn btn-primary" [disabled]="!IsRegisterButtonActive">
                Complete profile
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>