<div class="d-flex flex-start mb-4">
    <img class="rounded-circle shadow-1-strong me-3"
      src={{profileImage}} alt="avatar" width="45"
      height="45" />
    <div class="card w-100">
      <div class="card-body p-3">
        <div class="">
          <h6>
            <ng-container *ngIf="this.thread.commentBy=='staff' ; elseBlock">{{Profile.staffName}} (Staff)</ng-container>
            <ng-container #elseBlock>
              {{Profile.customerName}}
            </ng-container>
          </h6>
          <p [innerHTML]="sanitizedHtml">
          </p>

          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <!-- <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>
              <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>15</a> -->
            </div>
            <p class="small">{{time}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>