<div class="container mt-2">
  <div class="card">
    <div class="text-center">
      <a routerLink="/add-staff">
        <button type="button" class="btn btn-success mt-2">Add Staff</button>
      </a>
    </div>
    <hr />
    <div class="text-center" style="color: green; padding: 20px">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sr. no</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let staff of staffs; let i = index">
            <tr >
              <td>{{ i + 1 }}</td>
              <td>{{ staff.staffName }}</td>
              <td>{{ staff.staffEmail }}</td>
              <td>{{ staff.staffPhone }}</td>
              <td>
                <button type="button" class="btn btn-outline-success">
                  <i class="bi bi-bag-plus-fill"></i>
                </button>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-primary"
                >
                  <i class="bi bi-pencil"></i>
                </button>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                >
                  <i class="bi bi-trash3"></i>
                </button>
              </td>
            </tr>
          </ng-container>

        </tbody>
      </table>
    </div>
  </div>
</div>
