.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  margin-bottom: 10px;
}

.btn {
  margin-right: 5px;
}

.btn-outline-success:hover,
.btn-outline-primary:hover,
.btn-outline-danger:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
